{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
   
  ]
}