.container {
    text-align: center;
    margin-top: 40px;
}

$mainColor: #8ce7b4;
$fontSize: 1rem;
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    100% {
        transform: rotate(360deg);
        left: 0px;
    }
}

button {
    background: $mainColor;
    font-size: calc(1.5 * $fontSize);
}

.container .logo {
    animation: rotate 10s linear 0s infinite;
}

.flex{
    display:flex;
}