.container {
    text-align: center;
    margin-top: 40px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    100% {
        transform: rotate(360deg);
        left: 0px;
    }
}

.container .logo {
    animation: rotate 10s linear 0s infinite;
}

.flex {
    display: flex;
}